.header {
    background: #db497f;
    padding: 20px calc(50% - 500px) 10px;
}

.header__title {
    font-family: 'Luckiest Guy', cursive;
    color: #ffb6d1;
    font-size: 45px;
    margin-left: 40px;
}
